@use 'vars' as *;

.CommentItem {
  margin-bottom: 5px;
  border-bottom: 1px dotted $tr_gray;
  padding-bottom: 5px;
  & h4 {
    font-size: 16px;
    color: $tr_gray;
    margin-bottom: 5px;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & > div > button {
    margin: 0 10px;
  }
}
