@use 'vars' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  font-family: $font;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
