@use 'vars' as *;

.MenuBar {
  display: flex;
  flex-direction: column;
  // padding: 10px 0 0;
  align-items: center;
  width: 400px;

  & > li {
    margin-top: 30px;
    width: 100%;
    position: relative;
  }

  & > li:nth-child(1) {
    margin-top: 20px;
  }

  & > li:nth-child(1) > button {
    display: inline;
    width: 100%;
  }

  & > li > button,
  & > li > a {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 50px;
    color: black;
  }
  & > li:nth-child(2) > a[aria-current]::after,
  & > li:nth-child(3) > a[aria-current]::after {
    position: absolute;
    bottom: -8px;
    font-weight: bold;
    font-size: 35px;
    color: $pr_blue;
    content: '·';
  }

  & > li:nth-child(2) > button:hover,
  & > li:nth-child(3) > button:hover {
    background: $sc_gray;
  }

  & > li > button > img {
    width: 60px;
  }

  & > li > button > span,
  & > li > a > span {
    margin-left: 10px;
    display: inline;
    font-size: 18px;
  }

  @media (max-width: 1300px) {
    width: 80px;
    & > li > button,
    & > li > a {
      justify-content: center;
      padding: 15px 5px;
    }
    & > li > button > span,
    & > li > a > span {
      display: none;
    }
  }
  @media (max-width: 500px) {
    flex-direction: row;
    background: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    & > li {
      margin: 0;
    }
    & > li:nth-child(1) {
      display: none;
    }
  }
}

.MenuBar__NewPost.MenuBar__NewPost {
  background: $pr_blue;
  color: white;
  font-size: 16px;
  border-radius: 50px;
  padding: 15px 20px;
  justify-content: center;
  transition: transform 0.3s linear;
  border: 2px solid transparent;
  @media (max-width: 1300px) {
    padding: 16px 0px;
  }
  @media (max-width: 500px) {
    width: 63px;
  }
}

.MenuBar__NewPost.MenuBar__NewPost:hover {
  background: transparent;
  color: $pr_blue;
  font-weight: bold;
  border: 2px solid $pr_blue;
}

.MenuBar__PostFeather {
  display: none;
  @media (max-width: 1300px) {
    display: block;
    width: auto;
  }
}
