@use 'vars' as *;

.PostItem {
  padding: 10px;
}

.PostItem__User {
  margin-bottom: 8px;
  & > span:first-child {
    font-weight: bold;
  }
  & > span:nth-child(2) {
    font-style: italic;
    color: $tr_gray;
  }
}

.PostItem__FavBar {
  display: flex;
  margin-top: 15px;

  & > li {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  & > li > span {
    margin-left: 5px;
  }

  & > li:nth-child(2) > button:hover {
    color: $pr_blue;
  }
}

.PostItem__Body {
  width: 100%;
}
