@use 'vars' as *;

.PostList {
  position: relative;
  flex-grow: 1;
  min-height: 100vh;
  margin: 0 auto 0;
  // background: rgb(207, 207, 207);
  // @media (max-width: 450) {
  //   max-width: 100%;
  // }
}

.PostList__header {
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  width: inherit;
  padding: 0 40px 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & span:first-child {
    font-size: 18px;
    font-weight: bold;
  }
  & span:last-child {
    margin-top: 1px;
    font-weight: bold;
    color: $tr_gray;
  }
}

.PostList__fetch_more {
  display: block;
  padding: 5px 10px;
  margin: 10px auto 40px;
  background: $pr_blue;
  color: white;
  border-radius: 16px;
  transition: all 0.1s linear;
}

.PostList__fetch_more:hover {
  background: $sc_blue;
  transform: scale(1.1);
}
